:root {
  --lightcolor: #04bfa9;
  --lightcolor1: rgba(4, 191, 169, 0.5);
  --lightcolor2: rgba(4, 191, 169, 0.1);
  --darkcolor: #1c122b;
  --whitecolor: #fff2eb;
  --darkcolor1: rgba(28, 18, 43, 0.5)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {}
