:root {
  --yellow: #E39100;
  --darkgrey: #191919;
  --lightgrey: #1C1C1C;
  --whitecolor: #fff2eb;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Tajawal;
}

body {
	direction: rtl;
	}

 .header-container 
{

  background-color:var(--lightgrey);
	color: var(--whitecolor);
  margin: 0;
  padding: 0;
	width: 20rem;

}



div .head{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.yellow-box
{
	background-color: var(--yellow);
	width:5rem;
	height: 10rem;
}
.logo
{
	position: absolute;
	right:2.7rem;
	border: 1px solid var(--whitecolor);
	width:4rem;
	height: 4rem;
	display:flex;
	justify-content:center;
	align-items:center;
}
.logo h1 {

}

.body ul li a 
{
  text-decoration: none;
	color: var(--white);

}

.body
{
	display: flex;
	flex-direction: column;
	align-items:center;
}

ul li 
{
	list-style: none;
	margin:1rem;
}
#humb_icon
{
	margin: auto 0;
	display:block;
	cursor:pointer;
	padding:1rem;
}

#humb_icon div
{
	width: 40px;
	height: 2.5px;
	background-color: var(--whitecolor);
	margin: 6px 0;
	transition: 0.4s;

}
.open .bar1
{
	-webkit-transition:rotate(-45deg) translate(-6px,6px);
	transform: rotate(-45deg) translate(-6px,6px );
}

.open .bar2
{
	opacity:0;
}

.open .bar3
{
	-webkit-transition:rotate(45deg) translate(-6px,-8px);
	transform: rotate(45deg) translate(-6px,-8px );
}
