:root {
    --semiOrange: #e3911e;
    --darkgrey: #191919;
    --lightgrey: #1C1C1C;
    --whitecolor: #f6f6f6;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tajawal';
}


body {
    direction: rtl;
    background-color: var(--darkgrey) !important;
    font-family: 'Tajawal';
}
.bg-dark-nav{
    background-color: var(--darkgrey) !important;
}
/* navbar */
nav{
    background-color: var(--darkgrey);
}
.navbar{
    z-index: 1;

}
.w-96 {
    width: 96%;
}
.contact-parent{
    width: 10%;
    z-index: 2;
    

}
.cornerstyle {

    background-color: var(--semiOrange);
    height: 33vh;
    width: 5%;
}
.contactnavbar {
    height: 60%;
    position: fixed;
    bottom: 50px;
  
}
.contact {
    background-color: var(--semiOrange) !important;
    
}
.bg-yellow
{
    background-color: var(--semiOrange) !important;
    padding:0;
}
.bttn {
    direction: ltr;
    background-color: inherit;

}

.bttn:hover .menu,
.bttn:focus .menu {
    background-color: var(--semiOrange) !important;
}

.menu {
    height: 2px;
    width: 10px;
}



.fs-7 {
    font-size: .8rem;
}
.fs-8{
    font-size: .6rem;
}
.wrapper {

   
    perspective: 1500px;
}

a,
a:hover,
a:focus {
    color: var(--whitecolor);
    text-decoration: none !important;
    transition: all 0.3s;
}


.aside{
    width: 30%;
}

#sidebar ul li a {

    display: block;
}

#sidebar ul li a:hover {

    color: var(--semiOrange) !important;

}

.active{
    color: var(--semiOrange) !important;
}


#sidebar .cornerstyle {
    height: 100px;
}


#content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

#sidebarCollapse{
    position: relative;
    z-index: 3333;
}

#sidebarCollapse .menu {
 
    height: 2px;
     width: 20px;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}
#sidebarCollapse:hover .menu, #sidebarCollapse:focus .menu{
    background-color: var(--semiOrange) !important;

 }

#sidebarCollapse .menu:first-of-type {
    transform: rotate(45deg) translate(2px, 2px) !important;
    
}

#sidebarCollapse .menu:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px) !important;
}

.logo-box{
    font-family: Comic Sans MS;
    position: absolute;
    z-index: 3;
   right: 0;
}
.fa-bell{
    transform: rotate(-30deg);
}
.notiy{
  left: 22px;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: red;
}
.dropdown-menu{
    left: 25px;
    text-align: right;
}
.dropdown-menu .dropdown-item:hover {
background-color:  var(--lightgrey);
}
.semiOrange{
    color: var(--semiOrange);
}
.sidemenu{
    height: 2px;
    width: 10px;
}
.navbar-header2{
    height: 20px;
}
.navbar-header2 ,.sidemenu{
    position: fixed;
    top: 45px;
    right: 10px;
    z-index: 4444;
}
.navbar-header2:hover .sidemenu,.navbar-header2:focus .sidemenu{
    background-color: var(--semiOrange) !important;
}
a{
    cursor: pointer;
}
.bg-main{
    background: url('../assets/back.jpg') no-repeat center center fixed;
        background-size: cover;
     
}
.input-group input,.form-select,.form-control {
    background-color: var(--darkgrey);
    color: gray !important;
 border-radius: 0;
}
.form-select option{
    background-color: var(--darkgrey);
    color: gray !important;

}
.input-group input:focus, .form-select option:focus ,.form-control:focus{
    background-color: var(--darkgrey);
    color: var(--whitecolor) !important;
    border-color: var(--semiOrange);
    box-shadow: none;
    box-shadow: none;
}
.save-btn button:hover,.save-btn button:focus{
    background-color: var(--semiOrange);
    border-radius: 0;
    border-color: var(--semiOrange);
    box-shadow: none;
}
.card{
    background-color: inherit !important;
}
.card-details{
    color: gray;
}
.img-responsive{
    width: 6.5em;
    
}
.list-group li{
    background-color: inherit !important;
    color: gray;
}

@media only screen and (min-width: 992px) {

    .bttn {
        direction: rtl;
    }
}

@media (max-width: 768px) {
    .contactnavbar{
        display: none !important;
    }

    #sidebarCollapse .menu:first-of-type,
    #sidebarCollapse .menu:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }

    #sidebarCollapse.active .menu {
        margin: 0 auto;
    }

    #sidebarCollapse.active .menu:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }

    .w-lg-100{
        width: 100% !important;
    }
  

}
@media (max-width: 1162px) {
 
    #sidebar {
        position: absolute;
        z-index: 9999;
        background-color: var(--lightgrey);
    }
    .collapse{
        background-color: var(--lightgrey);
        padding: 25px;
         
        }
        .logo-box{
            
            position: relative;
          
        }

}
