:root {
    --semiOrange: #e3911e;
    --darkgrey: #191919;
    --lightgrey: #1C1C1C;
    --whitecolor: #f6f6f6;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tajawal';
}


body {
    direction: rtl;
    background-color: var(--darkgrey) !important;
    font-family: 'Tajawal';
}

/* navbar */
.w-96 {
    width: 96%;
}

.cornerstyle {
    background-color: var(--semiOrange);
    height: 33vh;
    width: 4%;
}

.contact {
    background-color: var(--semiOrange) !important;
}

.bttn {
    direction: ltr;
    background-color: inherit;

}

.bttn:hover .menu,
.bttn:focus .menu {
    background-color: var(--semiOrange) !important;
}

.menu {
    height: 2px;
    width: 10px;
}

.contactnavbar {
    height: 60vh;
}

.fs-7 {
    font-size: .8rem;
}

.wrapper {

    perspective: 1500px;
}

a,
a:hover,
a:focus {
    color: var(--whitecolor);
    text-decoration: none !important;
    transition: all 0.3s;
}

#sidebar {
    min-width: 300px;
    max-width: 300px;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom right;
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);

}


#sidebar ul li a {

    display: block;
}

#sidebar ul li a:hover {

    color: var(--semiOrange) !important;

}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: var(--semiOrange) !important;
}

#sidebar .cornerstyle {
    height: 100px;
}


#content {
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}



#sidebarCollapse .menu {
 
    height: 2px;
     width: 20px;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}
#sidebarCollapse:hover .menu, #sidebarCollapse:focus .menu{
    background-color: var(--semiOrange) !important;

 }

#sidebarCollapse .menu:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
    
}

#sidebarCollapse .menu:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}



@media only screen and (min-width: 992px) {

    .bttn {
        direction: rtl;
    }
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }

    #sidebar.active {
        margin-left: 0;
        transform: none;
    }

    #sidebarCollapse .menu:first-of-type,
    #sidebarCollapse .menu:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }

    #sidebarCollapse.active .menu {
        margin: 0 auto;
    }

    #sidebarCollapse.active .menu:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }

    #sidebarCollapse.active .menu:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }

}

 /* Dropdown Button */
 .dropbtn-avatar {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown-avatar {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content-avatar {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content-avatar a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content-avatar a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown-avatar:hover .dropdown-content-avatar {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown-avatar:hover .dropbtn-avatar {background-color: #3e8e41;}