:root {
  --yellow: #E39100;
  --yellow2:rgb(255, 183, 49);
  --yellow1:rgba(227, 145, 0,0.8);
  --darkgrey: #191919;
  --lightgrey: #1C1C1C;
  --lightgrey1: rgb(28, 28, 28,0.8);
  --whitecolor: #fff2eb;
  --whitecolor1: rgba(255, 242, 235,0.4);
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Tajawal;
}


body{
	direction: rtl;
}
.container{
	
}
.modal-header .btn-close {
    padding: 0.5rem 0.5rem;
    margin: 0;background-color: var(--yellow);

}
.modal-content{
	background-color: var(--darkgrey);
}
.table-responsive
{
  color: var(--whitecolor);
  background-color: var(--lightgrey);
}
.yellow{ color: var(--yellow); }
.bg-yellow{ background-color: var(--yellow); }

.btn-close{
   z-index: 1000;
   
   }

  .btn
  {
    background-color: var(--yellow);
    color: var(--whitecolor);
    border-radius:0;
    padding:.5rem;
    margin-bottom: 1rem;
  }
.modal-content
{
  background-color: var(--lightgrey);
  border:none;
}

.modal-title
{
  color: var( --yellow2);
}



.modal-content input
{
  background-color: var(--whitecolor1);
  
  font-weight: lighter;
  padding:.5rem;
  border-radius:0;
}

  .back-dash
  {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
.table-responsive tr td
{
  color: var(--whitecolor);
 
}
.text-center
{
  color: var(--whitecolor);
}
.login-container
{
  margin: 0;
  padding: 0;
  direction: ltr;
  
}

.yellow-box-login
{
  background-color: var(--yellow);
  width:5rem;
  height: 10rem;

}

.login-header
{
  color: var(--whitecolor);
  direction: ltr;
}
.logo-box 
{
  text-align: center;

  border: 1px solid var(--whitecolor);
  position: absolute;
  top: 2.5rem;
  left: 3rem;
  width:4rem;
  height: 4rem;
}

.logo-box h2
{
 
  display: flex;
  align-items: center;
  margin: auto;
  justify-content:center;

  font-family: Comic Sans MS;


}

.login-text form
{

text-align:center;
display:flex;
flex-direction: column;
}

.login-text form input 
{
text-align:right;
padding:0.6rem;
margin: 0.3rem;
color: var(--whitecolor);
margin-bottom: 1.5rem;
border: 0.8px solid var(--whitecolor1);
background: transparent;

}



.login-text form button
{
color: var(--whitecolor);
padding:0.6rem;
margin: 0.3rem;
border: 0.8px solid var(--yellow);
background: transparent;
margin-bottom:1.9rem;

}

.login-text button:hover
{
color: var(--darkgrey);
border: 0.8px solid var(--lightgrey);
background-color: var(--yellow);
transition: 0.4s;


}

.login-text h3
{
  margin-bottom: 1.5rem;
color: var(--yellow);
}


.table-profile
{
 background-color: ;
 
}
.table-profile tr th
{
  padding:0.8rem;
}
.table-profile tr
{
 border: 0.1px solid #dee2e6;
}
.table-profile td
{
  padding:0.8rem;
 border-right: 0.1px solid var(--whitecolor1);
}


@media (min-width: 576px){
	.modal-dialog {
		max-width: 685px;
		margin: 1.75rem auto;
	}
}